<!DOCTYPE html>
    <html>
        <head>

            <title>ece461g17 module-registry</title>

        </head>

    <body>
        <h1>/authenticate:</h1>
        
        <a href="index.html">Home</a>
        
        <p></p>

        <form action="http://localhost:8080/UI/authenticate", method="post", target="_blank">
            Username: <input type="text", name="Username">
            Password: <input type="password", name="Password">
            <input type="submit" value="Submit">
        </form>
    </body>
    
    </html>