<!DOCTYPE html>
    <html>
        <head>

            <title>ece461g17 module-registry</title>

        </head>

    <body>
        <h1>/packages:</h1>
        
        <a href="index.html">Home</a>
        
        <p></p>

        <form action="http://localhost:8080/docs/">
            <label for="X-Authorization">X-Authorization:</label>
            <input type="text" id="X-Authorization_packages" name="X-Authorization_packages"><br><br>
            <label for="Offset">Offset:</label>
            <input type="text" id="offset_packages" name="offset_packages"><br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
    
    </html>