<!DOCTYPE html>
    <html>
        <head>

            <title>ece461g17 module-registry</title>

        </head>

    <body>
        <h1>POST /package:</h1>
        <a href="../">Home</a>
        
        <p></p>

        <iframe name="hiddenFrame" width="0" height="0" style="display: none;"></iframe>

        <form action=" https://tomr-g17-mdljbaftcq-uc.a.run.app/UI/POSTpackage", method="post", target="_blank">

            X-Authorization: <input type="text" name="X-Authorization">
            <br><br>

            <h3>Body:</h3>
            URL:  <input  type="text" name="URL">
            <br><br>
            Content: <input  type="text" name="Content">
            <br><br>
            JSProgram: <input  type="text" name="JSProgram">
            <br><br>
            <input type="submit" value="Submit" onclick=>
        </form>

    </body>
    
    </html>