<!DOCTYPE html>
    <html>
        <head>
            <title>ece461g17 module-registry</title>

        </head>

    <body>
        <h1>/package/byRegEx:</h1>
        <a href="../">Home</a>
        
        <p></p>


        <form id="regex_form", action="https://tomr-g17-mdljbaftcq-uc.a.run.app/package/byRegEx", method="post", target="hiddenFrame">
            X-Authorization: <input type="text" name="X-Authorization">
            <br>
            <br>
            Regex String: <input type="text" name="Regex String">
            <br><br>
            <input type="submit" value="Submit" onclick="">
        </form>
       
    </body>
    
    </html>
